doctype html
html(lang="en")
  head
    title=title
    link(rel="stylesheet" type="text/css" href="/main.css")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")

  body
    .header
      h1#logo PennApps XII
      div#dash
      h2#title Policies
    .body-content!=content
