doctype html
html(lang="en")
  head
    title=title
    link(rel="stylesheet" type="text/css" href="../../main.css")
  body
    .header
      h1#logo PennApps XII
      h2#title Mentorship
    .body-content!=content
