doctype html
html(lang="en")
  head
    title=title
    link(rel="stylesheet" type="text/css" href="/main.css")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")

  body
    .header
      a(href="http://pennapps.com")
        h1#logo PennApps XII
      div#dash
      h2#title Policies
    .body-content!=content
    // Footer
    .footer-section
      .row
        .col-lg-3.col-sm-6
          .footer-col
            a(href='#home')
              img(src='/PennApps-white.png', width='50px')
            p &copy 2015 PennApps
            p
              a(href='mailto:contact@pennapps.com') contact@pennapps.com
              | .
        .col-lg-3.col-sm-6
          .footer-col

        .col-lg-3.col-sm-6
          .footer-col
            p
              a(href='https://www.facebook.com/pennapps') Facebook
            p
              a(href='https://twitter.com/pennapps') Twitter
        .col-lg-3.col-sm-6
          .footer-col
            p Organized with support from:
          a(href='http://www.seas.upenn.edu')
            img.penn-logo(src='/penn-logo.png')
    // footer-section
